@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.blue {
  color: #2196F3;
}
.fancy-text {
  font-family: 'Dancing Script', cursive;
}

h2.fancy-text {
  font-size: 4rem;
}

html,
body {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
  height: 100%;
}

#body {
  width: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

.footer-text {
  color: rgba(241, 241, 241, 0.8);
  background: #2196F3;
  height: 100%;
}

.footer-nav {
  background: rgba(241, 241, 241, 0.8);
  text-transform: uppercase;
  padding: 10px 0;
}

.footer-nav a {
  color: rgba(0, 0, 0, 0.6);
}

.footer-nav a:hover {
  color: rgba(0, 0, 0, 1);
}

footer {
  background: #2196F3;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 10px;
}

footer .fab {
  font-size: 18px;
  color: #fff;
}

.footer-text .row div {
  padding-top: 20px;
}

#container {
  height: 100%;
}

#body {
  padding-top: 80px;
}

@media only screen and (max-width: 992px) {
  .nav-item.bottom {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  footer {
    height: 300px;
  }
  #body {
    padding-bottom: 300px;
  }
}

@media only screen and (min-width: 575px) {
  footer {
    height: 135px;
  }
  #body {
    padding-bottom: 135px;
  }
}

@media only screen and (min-width: 1296px) {
  footer .container-fluid {
    padding-left: 7%;
    padding-right: 7%;
  }
}

/* button */

.btn {
  cursor: pointer;
}
.btn:hover:not([disabled]):not(.disabled):not(.upload-button) {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

/* Alert */
.notif {
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 20px, rgba(255, 255, 255, 0.1) 20px, rgba(255, 255, 255, 0.1) 40px);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  padding: 15px 15px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid;
  margin: 10px 0;
}

.info {
  background-color: #6af;
  border-color: #2196F3;
}