<template>
  <div class="home-page">
    <div class="parallax" style="background-image: url('/images/hero.jpg');"></div>
    <section id="welcome">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="notif info">
              <h2><i class="fas fa-bell"></i> Announcment!</h2>
              <p>Some important information about the concert or something.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 p-3 mb-4">
            <h2 class="section-title">
              <strong>ELS</strong>School of Dance
              <small>Kealba, Melbourne</small>
            </h2>
            <p class="lead">
              We are passionate about giving every child an equal opportunity to 
              reach their full potential. We believe that dance is a great way to 
              develop your child's fitness, attention span, co-ordination, balance and musicality.
            </p>
            <p>
              Dance is a great way to watch your child's personality and confidence come to life in a supportive environment with their friends.
            </p>
            <p>
              We also offer classes for adults; from those wanting to reignite their passion for dance to those who are looking for a fun way to get fit.
            </p>
            <p>
              We are continually focused on creating a welcoming and supportive environment for every indiviudal. We encourage and teach important life skills including respect, kindness, commitment, reliability, teamwork and encouragement to make our school feel like a second family for all staff, students and parents/families.
            </p>
          </div>
          <div class="col-md-6 p-3">
            <img class="img-fluid els-img" src="https://els-dance.com/img/gallery/Taylor_preview.jpeg">
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <div class="blue-bar mb-5"></div>
            <h2 class="fancy-text blue">
              We are more than just a dance school, we are a family.
            </h2>
            <div class="blue-bar mt-5"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 p-3">
            <img class="img-fluid els-img" src="https://els-dance.com/img/gallery/Alicia_preview.jpeg">
          </div>
          <div class="col-md-6 p-3 mb-4">
            <h2 class="section-title">
              <strong>Come join</strong> our dancing family
              <small>Enrol today</small>
            </h2>
            <p class="lead">
              No matter your age, experience or goals our welcoming and friendly teachers are here to help you reach your full potential in a fun and supportive environment.
            </p>
            <p>
              Offering classes in all styles of dance for students ages 2 through to to adults we know you'll find a class you that suits you perfectly.
            </p>
            <button class="btn btn-primary btn-lg mt-3">
              <i class="far fa-thumbs-up"></i> Enrol Now
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style lang="scss" scoped>

  #welcome {
    padding: 50px 0;
  }
  
  .section-title {
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  @media (min-width: 576px) {
    .section-title {
      margin-bottom: 35px;
    }
  }

  .section-title em:first-child {
    display: block;
    letter-spacing: 0;
    font-weight: normal;
    font-style: normal;
  }

  @media (min-width: 576px) {
    .section-title em:first-child {
      font-size: 0.875rem;
      color: #2196F3;
      position: absolute;
      padding-left: 2.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #2196F3;
      right: 100%;
      margin-right: 2rem;
      top: 1.2em;
    }
  }

  .blue-bar {
    margin: 5px auto;
    border-bottom: 1px solid #2196F3;
    width: 50px;
  }

  .section-title strong {
    display: block;
  }

  .section-title {
    font-size: 3rem;
  }

  .section-title small:last-child {
    display: block;
    color: #2196F3;
    font-size: 0.875rem;
    margin-top: 1rem;
    letter-spacing: 0;
  }

  @media (min-width: 576px) {
    .section-title small:last-child::before {
      content: '';
      display: inline-block;
      width: 5rem;
      position: relative;
      border-bottom: 1px solid #2196F3;
      margin-right: 1rem;
      top: -0.25rem;
    }
  }

  .els-img {
    border: 15px solid #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
    overflow: hidden;
  }
  .rot5 {
    transform: rotate(5deg);
  }
  .rotneg5 {
    transform: rotate(-5deg);
  }
  .home-page {
    height: 100%;
  }
  .parallax { 
    height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<script>
  import Api from '@/vuex/api'
  export default {
    name: 'HomePage',
    data: function () {
      return {
        data: []
      }
    },
    async mounted () {
      let api = new Api()
      if (this.$route.params.uid) {
        this.data = await api.getPage(this.$route.params.uid)
      }
    }
  }
</script>