<template>
  <div class="layout">
    <div id="header">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <router-link class="navbar-brand" :to="'/'">
          ELS School of Dance
        </router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <template v-for="(nav, index) in navigation">
              <!-- no drop down -->
              <li class="nav-item" v-if="!nav.repeat.length" :key="index">
                <router-link class="nav-link" :to="{ path: nav['non-repeat'].nav_main_link.value.document.uid }">
                  {{ nav['non-repeat'].nav_main_label.value }}
                </router-link>
              </li>
              <!-- drop down -->
              <li class="nav-item dropdown" v-else :key="index" @mouseover="toggleDropDown($event)">
                <router-link :to="{ path: nav['non-repeat'].nav_main_link.value.document.uid }" class="nav-link dropdown-toggle" :id="'navbarDropdownMenuLink' + index"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ nav['non-repeat'].nav_main_label.value }}
                </router-link>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <router-link :to="{ path: subNav.nav_sub_link ? subNav.nav_sub_link.value.document.uid : '' }" v-for="(subNav, index2) in nav.repeat"
                    :key="index2" class="dropdown-item">
                    {{ subNav.nav_sub_label.value }}
                  </router-link>
                </div>
              </li>
            </template>
          </ul>
        </div>
      </nav>
    </div>
    <div id="body">
      <router-view></router-view>
    </div>
    <footer>
      <div class="footer-nav">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <ul class="navbar-bottom">
                <li class="nav-item bottom">
                  <router-link class="nav-link" :to="''">
                    Home
                  </router-link>
                </li>
                <template v-for="(nav, index) in navigation">
                  <!-- no drop down -->
                  <li class="nav-item bottom" :key="index">
                    <router-link class="nav-link" :to="{ path: nav['non-repeat'].nav_main_link.value.document.uid }">
                      {{ nav['non-repeat'].nav_main_label.value }}
                    </router-link>
                  </li>
                </template>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    Back to top <i class="fas fa-chevron-up ml-2"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-text">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-1 text-center">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-instagram mx-2"></i>
            </div>
            <div class="col-sm-5">
              <p>
                ELS School of Dance operates under child safety policies and practises.
              </p>
              <p>
                If you feel anything breaches these standards please call 000 or contact the ELS Staff immediately.
              </p>
            </div>
            <div class="col-sm-2">
              <strong>
                ELS School of Dance
              </strong><br/>
              13 Malcolm Court <br/>
              Kealba <br/>
              VIC 3021 <br/>
            </div>
            <div class="col-sm-4">
              Copyright &copy; {{ year }}  ELS School of Dance. All rights reserved.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Lato');
  .navbar-nav,
  .dropdown-item,
  .navbar-brand {
    font-family: 'Lato';
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 0.6);
  }


  .navbar-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .dropdown-item.active,
  .dropdown-item:active,
  .dropdown-item:focus,
  .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #fff;
  }

  .nav-link.dropdown-toggle:focus {
    outline: 0;
  }

  .navbar {
    min-height: 80px;
  }

  .nav-item {
    padding: 0 20px;
  }

  .dropdown-item {
    padding: 0.95rem 1.9rem;
  }
</style>

<script>
  import Api from '@/vuex/api'
  export default {
    data: function () {
      return {
        navigation: []
      }
    },
    async mounted () {
      let api = new Api()
      let navigation = await api.getNavigation()
      this.navigation = navigation.data.navigation_bar.body.value
    },
    computed: {
      year () {
        return new Date().getFullYear()
      }
    },
    methods: {
      toggleDropDown (event) {
        if (event.srcElement.id) {
          $('#' + event.srcElement.id).dropdown('toggle')
        }
      }
    }
  }
</script>