<template>
  <div class="page">
    
  </div>
</template>

<script>
  import Api from '@/vuex/api'
  export default {
    name: 'Page',
    data: function () {
      return {
        data: []
      }
    },
    async mounted () {
      let api = new Api()
      if (this.$route.params.uid) {
        this.data = await api.getPage(this.$route.params.uid)
      }
    }
  }
</script>